@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/blue-alpha.css';
@import '@radix-ui/themes/styles.css';
*,*::after, *::before{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    
}
body{
    font-size: 1.6rem;
}
input {
    font-size: 2rem;
    color: #1E1E1E;
    margin: 4rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 50rem;
    background-color: white;
    border-radius: 2rem;
    border-color: #76EE94;
    border-width: 0.35rem;
    text-align : left;

    
}
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 

@media screen and (max-width: 768px){
    input {
        font-size: 2rem;
        color: #1E1E1E;
        margin: 4rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 28rem;
        background-color: white;
        border-radius: 2rem;
        border-color: #76EE94;
        border-width: 0.35rem;
        text-align : left;
    
        
    }
    .table__tool{
        width: 100% !important; 
    }
}

.table__tool{
    align-content: center;
    border-radius: 2rem;
    border-color: #76EE94;
    border-width: 0.35rem;
    width: 80% !important; 
    margin: auto;
    
}

.TableRoot{
    border-color: #76EE94;
    border: #76EE94;
    border-width: 0.35rem;
    background-color: var(--black-a3);
}
